@use "@src/shared/scss/func/_func.scss";

.input {
	display: inline-block;
	border: 2px solid var(--gray);
	background-color: white;
	padding: func.vw(12, 1920);
	border-radius: func.vw(10, 1920);
	transition: 300ms;
	width: func.vw(400, 1920);

	&:hover{
		background-color: var(--gray-light);
	}

	@media (max-width: 1440px) {
		padding: func.vw(12, 1440);
		border-radius: func.vw(10, 1440);
		width: func.vw(300, 1440);
	}

	@media (max-width: 960px) {
		padding: func.vw(12, 960);
		border-radius: func.vw(10, 960);
		width: func.vw(350, 960);
	}

	@media (max-width: 720px) {
		padding: func.vw(12, 720);
		border-radius: func.vw(10, 720);
		width: 100%;
	}

	@media (max-width: 540px) {
		padding: func.vw(12, 540);
		border-radius: func.vw(10, 540);
	}

	@media (max-width: 420px) {
		padding: func.vw(12, 420);
		border-radius: func.vw(10, 420);
	}
}

.clearIcon {
	opacity: 0.5;
	transition: all 0.15s ease-in-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: func.vw(25, 1920);
	height: func.vw(25, 1920);
	right: func.vw(10, 1920);

	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}

	@media (max-width: 1440px) {
	width: func.vw(25, 1440);
	height: func.vw(25, 1440);
	right: func.vw(10, 1440);
	}
	@media (max-width: 960px) {
	width: func.vw(25, 960);
	height: func.vw(25, 960);
	right: func.vw(10, 960);
	}
	@media (max-width: 720px) {
	width: func.vw(25, 720);
	height: func.vw(25, 720);
	right: func.vw(10, 720);
	}
	@media (max-width: 540px) {
	width: func.vw(25, 540);
	height: func.vw(25, 540);
	right: func.vw(10, 540);
	}
	@media (max-width: 420px) {
	width: func.vw(25, 420);
	height: func.vw(25, 420);
	right: func.vw(10, 420);
	}
}

.searchContainer {
	position: relative;
	border-radius: func.vw(6, 1920);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 300ms;

	@media (max-width: 1440px) {
		border-radius: func.vw(6, 1440);
	}

	@media (max-width: 960px) {
		border-radius: func.vw(6, 960);
	}

	@media (max-width: 720px) {
		border-radius: func.vw(6, 720);
	}

	@media (max-width: 540px) {
		border-radius: func.vw(6, 540);
	}

	@media (max-width: 420px) {
		border-radius: func.vw(6, 420);
	}
}