@use "@src/shared/scss/func/func";
.header{
  height: 100vh;
  position: relative;
  background-color: var(--white);
  padding: func.vw(32, 1920) func.vw(16, 1920);
  box-shadow: 10px 4px 35px 0 rgba(34, 60, 80, 0.2);

  @media (max-width: 1440px) {
    padding: func.vw(32, 1440) func.vw(16, 1440);
  }
}

.link_home{
  padding-inline: func.vw(24, 1920);
}

.link_container{
  display: flex;
  flex-direction: column;
  gap: func.vw(8, 1920);
  margin-block: func.vw(24, 1920);
  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: func.vw(8, 1920);
    padding-inline: func.vw(24, 1920);
  }

  @media (max-width: 1440px) {
    gap: func.vw(8, 1440);
  }
  @media (max-width: 959px) {
    margin-block: 0;
    gap: func.vw(8, 960);
    padding: func.vw(32, 960) func.vw(16, 960);
  }
  @media (max-width: 720px) {
    gap: func.vw(8, 720);
    padding: func.vw(32, 720) func.vw(16, 720);
  }
  @media (max-width: 540px) {
    gap: func.vw(8, 540);
    padding: func.vw(32, 540) func.vw(16, 540);
  }
  @media (max-width: 420px) {
    gap: func.vw(8, 420);
    padding: func.vw(32, 420) func.vw(16, 420);
  }
}

.logout_container{
  bottom: func.vw(32, 1920);
  padding-inline: func.vw(24, 1920);
  width: 100%;
  position: absolute;
  left: 0;
  button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: func.vw(8, 1920);
    width: 100%;
  }

  @media (max-width: 959px) {
    margin-top: func.vw(24, 960);
    padding: 0;
    position: static;
  }
}