@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --primary: #6C5DD3;

  --black: #181818;
  --black-t50: rgba(24, 24, 24, 0.5);
  --black-t5: rgba(24, 24, 24, 0.05);
  --black-light: #303030;

  --white: #FFFFFF;
  --white-t50: rgba(255, 255, 255, 0.5);

  --gray: #E0E0E0;
  --gray-light: #EDEDED;

  --green: #1C9C75;
  --green-dark: #2B7D64;

  --red: #ff0000;
  --red-t50: rgba(255, 0, 0, 0.5)
}