@use "@src/shared/scss/func/func";

.q_row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.q_cell {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}