@use "@src/shared/scss/func/_func.scss";

.container {
	display: flex;
	justify-content: space-between;
	width: func.vw(1412, 1920);
	height: func.vw(50, 1920);
	background-color: white;

	&_static {
		@extend .container;
		margin-inline: auto;
		overflow-x: hidden;
	}

	&_fixed {
		@extend .container;
		z-index: 10;
		position: fixed;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		padding-inline: func.vw(6, 1920);
		padding-block: func.vw(8, 1920);

		@media (max-width: 1440px) {
			padding-inline: func.vw(6, 1440);
			padding-block: func.vw(8, 1440);
		}
		@media (max-width: 960px) {
			padding-inline: func.vw(6, 960);
			padding-block: func.vw(8, 960);
		}
		@media (max-width: 720px) {
			padding-inline: func.vw(6, 720);
			padding-block: func.vw(8, 720);
		}
		@media (max-width: 540px) {
			padding-inline: func.vw(6, 540);
			padding-block: func.vw(8, 540);
		}
		@media (max-width: 420px) {
			padding-inline: func.vw(6, 420);
			padding-block: func.vw(8, 420);
		}
	}

	@media (max-width: 1440px) {
		height: func.vw(50, 1440);
		width: 100%;
	}
	@media (max-width: 960px) {
		height: func.vw(50, 960);
	}
	@media (max-width: 720px) {
		height: func.vw(50, 720);
	}
	@media (max-width: 540px) {
		height: func.vw(50, 540);
	}
	@media (max-width: 420px) {
		height: func.vw(50, 420);
	}
}

.logoImage {
	position: relative;
	height: func.vw(30, 1920);
	width: func.vw(179, 1920);
	margin-left: func.vw(17, 1920);

	@media (max-width: 1440px) {
		margin-left: func.vw(17, 1440);
		height: func.vw(30, 1440);
		width: func.vw(179, 1440);
	}
	@media (max-width: 960px) {
		margin-left: func.vw(17, 960);
		height: func.vw(30, 960);
		width: func.vw(179, 960);
	}
	@media (max-width: 720px) {
		margin-left: func.vw(17, 720);
		height: func.vw(30, 720);
		width: func.vw(179, 720);
	}
	@media (max-width: 540px) {
		margin-left: func.vw(17, 540);
		height: func.vw(30, 540);
		width: func.vw(179, 540);
	}
	@media (max-width: 420px) {
		margin-left: func.vw(17, 420);
		height: func.vw(30, 420);
		width: func.vw(179, 420);
	}

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		object-position: center;
		object-fit: cover;
	}
}

.navigationButtons {
	display: flex;
	gap: func.vw(8, 1920);

	@media (max-width: 1440px) {
		gap: func.vw(8, 1440);
	}
	@media (max-width: 960px) {
		gap: func.vw(8, 960);
	}
	@media (max-width: 720px) {
		gap: func.vw(8, 720);
	}
	@media (max-width: 540px) {
		gap: func.vw(8, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(8, 420);
	}
}

.dropCaretImg {
	transform: rotate(0deg);
	transition: 0.3s;
	display: block;
	position: relative;
	height: 100%;
	width: func.vw(15, 1920);

	@media (max-width: 1440px) {
		width: func.vw(15, 1440);
	}
	@media (max-width: 960px) {
		width: func.vw(15, 960);
	}
	@media (max-width: 720px) {
		width: func.vw(15, 720);
	}
	@media (max-width: 540px) {
		width: func.vw(15, 540);
	}
	@media (max-width: 420px) {
		width: func.vw(15, 420);
	}

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		object-position: center;
		object-fit: cover;
	}
}

.dropButtonContent {
	display: flex;
	gap: func.vw(8, 1920);

	@media (max-width: 1440px) {
		gap: func.vw(8, 1440);
	}
	@media (max-width: 960px) {
		gap: func.vw(8, 960);
	}
	@media (max-width: 720px) {
		gap: func.vw(8, 720);
	}
	@media (max-width: 540px) {
		gap: func.vw(8, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(8, 420);
	}
}

.dropButton {
	z-index: 10;
	position: relative;

	&:hover {
		.dropdownWrapper {
			display: block;
		}

		.dropCaretImg {
			transform: rotate(180deg);
		}
	}
}

.dropdownContainer {
	border-radius: func.vw(6, 1920);
	display: flex;
	flex-direction: column;
	gap: func.vw(8, 1920);
	background-color: var(--white);
	height: max-content;
	min-width: func.vw(345, 1920);
	padding: func.vw(8, 1920);
	box-shadow: 0 0 10px 1px var(--black-t5);

	@media (max-width: 1440px) {
		min-width: func.vw(345, 1440);
		padding: func.vw(8, 1440);
		border-radius: func.vw(6, 1440);
		gap: func.vw(8, 1440);
	}
	@media (max-width: 960px) {
		min-width: func.vw(345, 960);
		padding: func.vw(8, 960);
		border-radius: func.vw(6, 960);
		gap: func.vw(8, 960);
	}
	@media (max-width: 720px) {
		padding: func.vw(8, 720);
		border-radius: func.vw(6, 720);
		gap: func.vw(8, 720);
	}
	@media (max-width: 540px) {
		padding: func.vw(8, 540);
		border-radius: func.vw(6, 540);
		gap: func.vw(8, 540);
	}
	@media (max-width: 420px) {
		padding: func.vw(8, 420);
		border-radius: func.vw(6, 420);
		gap: func.vw(8, 420);
	}
}

.bigButton {
	width: 100%;
}

.dropdownWrapper {
	display: none;
	position: absolute;
	top: 100%;
	right: func.vw(-8, 1920);
	padding-top: func.vw(8, 1920);

	@media (max-width: 1440px) {
		padding-top: func.vw(8, 1440);
		right: func.vw(-8, 1440);
	}
	@media (max-width: 960px) {
		padding-top: func.vw(8, 960);
		right: func.vw(-8, 960);
	}
	@media (max-width: 720px) {
		padding-top: func.vw(8, 720);
		right: func.vw(-8, 720);
	}
	@media (max-width: 540px) {
		padding-top: func.vw(8, 540);
		right: func.vw(-8, 540);
	}
	@media (max-width: 420px) {
		padding-top: func.vw(8, 420);
		right: func.vw(-8, 420);
	}
}

.burgerImageContainer {
	position: relative;
	//height: 100%;
	align-self: center;
	height: func.vw(17, 960);
	margin-right: func.vw(17, 960);
	width: func.vw(24, 960);

	@media (max-width: 720px) {
		margin-right: func.vw(17, 720);
		height: func.vw(17, 720);
		width: func.vw(24, 720);
	}
	@media (max-width: 540px) {
		margin-right: func.vw(17, 540);
		height: func.vw(17, 540);
		width: func.vw(24, 540);
	}
	@media (max-width: 420px) {
		margin-right: func.vw(17, 420);
		height: func.vw(17, 420);
		width: func.vw(24, 420);
	}

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		object-position: center;
		object-fit: cover;
	}
}

.burgerMenu {
	z-index: 100;
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;

	&.open {
		display: block;
		animation-name: background-appear;
	}

	&.closed {
		display: none;
		animation-name: background-disappear;
	}
}

@keyframes background-appear {
	0% {
		display: none;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes background-disappear {
	0% {
		display: block;
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.burgerMenuContent {
	border-radius: func.vw(20, 960) func.vw(20, 960) 0 0;
	position: fixed;
	bottom: 0;
	left: 0;
	height: max-content;
	width: 100%;
	background-color: var(--white);
	animation-duration: 0.5s;
	animation-fill-mode: forwards;

	&.open {
		display: block;
		animation-name: menu-appear;
	}

	&.closed {
		display: none;
		animation-name: menu-disappear;
	}
}


@keyframes menu-appear {
	0% {
		display: none;
		bottom: -100%;
	}
	100% {
		display: block;
	}
}

@keyframes menu-disappear {
	0% {
		display: block;
	}
	100% {
		bottom: -100%;
		display: none;
	}
}

.burgerCatalog {
	display: flex;
	gap: func.vw(8, 960);
	flex-direction: column;
	padding: func.vw(32, 960) func.vw(16, 960);

	@media (max-width: 720px) {
		gap: func.vw(8, 720);
		padding: func.vw(32, 720) func.vw(16, 720);
	}
	@media (max-width: 540px) {
		gap: func.vw(8, 540);
		padding: func.vw(32, 540) func.vw(16, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(8, 420);
		padding: func.vw(32, 420) func.vw(16, 420);
	}
}

.burgerAdditional {
	display: flex;
	gap: func.vw(12, 960);
	flex-direction: column;
	padding: 0 func.vw(16, 960) func.vw(32, 960) func.vw(16, 960);

	@media (max-width: 720px) {
		gap: func.vw(12, 720);
		padding: 0 func.vw(16, 720) func.vw(32, 720) func.vw(16, 720);
	}
	@media (max-width: 540px) {
		gap: func.vw(12, 540);
		padding: 0 func.vw(16, 540) func.vw(32, 540) func.vw(16, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(12, 420);
		padding:0 func.vw(16, 420) func.vw(32, 420) func.vw(16, 420);
	}
}