@use "@src/shared/scss/func/_func.scss";

.container {
	display: flex;
	justify-content: space-between;
	width: func.vw(1400, 1920);
	height: func.vw(50, 1920);
	background-color: white;

	&_static {
		@extend .container;
		margin-inline: auto;
		overflow-x: hidden;
	}

	&_fixed {
		@extend .container;
		position: fixed;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		padding-inline: func.vw(6, 1920);
		padding-block: func.vw(8, 1920);

		@media (max-width: 1440px) {
			padding-inline: func.vw(6, 1440);
			padding-block: func.vw(8, 1440);
		}
		@media (max-width: 960px) {
			padding-inline: func.vw(6, 960);
			padding-block: func.vw(8, 960);
		}
		@media (max-width: 720px) {
			padding-inline: func.vw(6, 720);
			padding-block: func.vw(8, 720);
		}
		@media (max-width: 540px) {
			padding-inline: func.vw(6, 540);
			padding-block: func.vw(8, 540);
		}
		@media (max-width: 420px) {
			padding-inline: func.vw(6, 420);
			padding-block: func.vw(8, 420);
		}
	}

	@media (max-width: 1440px) {
		height: func.vw(50, 1440);
		width: 100%;
	}
	@media (max-width: 960px) {
		height: func.vw(50, 960);
	}
	@media (max-width: 720px) {
		height: func.vw(50, 720);
	}
	@media (max-width: 540px) {
		height: func.vw(50, 540);
	}
	@media (max-width: 420px) {
		height: func.vw(50, 420);
	}
}

.logoImage {
	position: relative;
	height: func.vw(30, 1920);
	width: func.vw(179, 1920);

	@media (max-width: 1440px) {
		height: func.vw(30, 1440);
		width: func.vw(179, 1440);
	}
	@media (max-width: 960px) {
		height: func.vw(30, 960);
		width: func.vw(179, 960);
	}
	@media (max-width: 720px) {
		height: func.vw(30, 720);
		width: func.vw(179, 720);
	}
	@media (max-width: 540px) {
		height: func.vw(30, 540);
		width: func.vw(179, 540);
	}
	@media (max-width: 420px) {
		height: func.vw(30, 420);
		width: func.vw(179, 420);
	}

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		object-position: center;
		object-fit: cover;
	}
}

.navigationButtons {
	display: flex;
	gap: func.vw(8, 1920);

	@media (max-width: 1440px) {
		gap: func.vw(8, 1440);
	}
	@media (max-width: 960px) {
		gap: func.vw(8, 960);
	}
	@media (max-width: 720px) {
		gap: func.vw(8, 720);
	}
	@media (max-width: 540px) {
		gap: func.vw(8, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(8, 420);
	}
}

.dropCaretImg {
	display: block;
	position: relative;
	height: 100%;
	width: func.vw(15, 1920);

	@media (max-width: 1440px) {
		width: func.vw(15, 1440);
	}
	@media (max-width: 960px) {
		width: func.vw(15, 960);
	}
	@media (max-width: 720px) {
		width: func.vw(15, 720);
	}
	@media (max-width: 540px) {
		width: func.vw(15, 540);
	}
	@media (max-width: 420px) {
		width: func.vw(15, 420);
	}

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		object-position: center;
		object-fit: cover;
	}
}

.dropButtonContent {
	display: flex;
	gap: func.vw(8, 1920);

	@media (max-width: 1440px) {
		gap: func.vw(8, 1440);
	}
	@media (max-width: 960px) {
		gap: func.vw(8, 960);
	}
	@media (max-width: 720px) {
		gap: func.vw(8, 720);
	}
	@media (max-width: 540px) {
		gap: func.vw(8, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(8, 420);
	}
}

.dropButton {
	position: relative;

	&:hover {
		.dropdownWrapper {
			display: block;
		}
	}
}

.dropdownContainer {
	border-radius: func.vw(6, 1920);
	display: flex;
	flex-direction: column;
	gap: func.vw(8, 1920);
	background-color: var(--white);
	height: max-content;
	width: func.vw(345, 1920);
	padding: func.vw(8, 1920);
	box-shadow: 0 0 10px 1px var(--black-t5);

	@media (max-width: 1440px) {
		padding: func.vw(8, 1440);
		border-radius: func.vw(6, 1440);
		gap: func.vw(8, 1440);
	}
	@media (max-width: 960px) {
		padding: func.vw(8, 960);
		border-radius: func.vw(6, 960);
		gap: func.vw(8, 960);
	}
	@media (max-width: 720px) {
		padding: func.vw(8, 720);
		border-radius: func.vw(6, 720);
		gap: func.vw(8, 720);
	}
	@media (max-width: 540px) {
		padding: func.vw(8, 540);
		border-radius: func.vw(6, 540);
		gap: func.vw(8, 540);
	}
	@media (max-width: 420px) {
		padding: func.vw(8, 420);
		border-radius: func.vw(6, 420);
		gap: func.vw(8, 420);
	}
}

.bigButton {
	width: 100%;
}

.dropdownWrapper {
	display: none;
	position: absolute;
	top: 100%;
	right: func.vw(-8, 1920);
	padding-top: func.vw(8, 1920);

	@media (max-width: 1440px) {
		padding-top: func.vw(8, 1440);
		right: func.vw(-8, 1440);
	}
	@media (max-width: 960px) {
		padding-top: func.vw(8, 960);
		right: func.vw(-8, 960);
	}
	@media (max-width: 720px) {
		padding-top: func.vw(8, 720);
		right: func.vw(-8, 720);
	}
	@media (max-width: 540px) {
		padding-top: func.vw(8, 540);
		right: func.vw(-8, 540);
	}
	@media (max-width: 420px) {
		padding-top: func.vw(8, 420);
		right: func.vw(-8, 420);
	}
}