@use "src/shared/scss/func/func";

.text_header{
  background-color: white;
}

.table_body{
  border-radius: 10px;
  margin-block: func.vw(32, 1920);
  padding: func.vw(32, 1920);
  width: 70%;
  height: 80vh;
  overflow: auto;
  background-color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: var(--black);
}