@use "@src/shared/scss/func/func";

.locationContainer {
	border-radius: func.vw(10, 1920);
  margin-block: func.vw(20, 1920);

	@media (max-width: 1440px) {
		border-radius: func.vw(10, 1440);
    margin-block: func.vw(20, 1440);
	}
	@media (max-width: 960px) {
		border-radius: func.vw(10, 960);
    margin-block: func.vw(20, 1440);
	}
	@media (max-width: 720px) {
		border-radius: func.vw(10, 720);
    margin-block: func.vw(20, 1440);
	}
	@media (max-width: 540px) {
		border-radius: func.vw(10, 540);
    margin-block: func.vw(20, 540);
	}
	@media (max-width: 420px) {
		border-radius: func.vw(10, 420);
    margin-block: func.vw(20, 420);
	}
}

.head {
	padding-block: func.vw(20, 1920);
	padding-inline: func.vw(32, 1920);

	@media (max-width: 1440px) {
		padding-inline: func.vw(32, 1440);
		padding-block: func.vw(20, 1440);
	}
	@media (max-width: 960px) {
		padding-inline: func.vw(32, 960);
		padding-block: func.vw(20, 1440);
	}
	@media (max-width: 720px) {
		padding-inline: func.vw(24, 720);
		padding-block: func.vw(20, 1440);
	}
	@media (max-width: 540px) {
		padding-inline: func.vw(16, 540);
		padding-block: func.vw(20, 540);
	}
	@media (max-width: 420px) {
		padding-inline: func.vw(16, 420);
		padding-block: func.vw(20, 420);
	}
}

.iframe {
	border-radius: func.vw(10, 1920);

	@media (max-width: 1440px) {
		border-radius: func.vw(10, 1440);
	}
	@media (max-width: 960px) {
		border-radius: func.vw(10, 960);
	}
	@media (max-width: 720px) {
		border-radius: func.vw(10, 720);
	}
	@media (max-width: 540px) {
		border-radius: func.vw(10, 540);
	}
	@media (max-width: 420px) {
		border-radius: func.vw(10, 420);
	}
}