@use "@src/app/style/config/reset";
@use "@src/app/style/config/config";

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
          "slnt" 0;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--green) !important;
}