@use "@src/shared/scss/func/func";


.container{
  position: relative;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: func.vw(16, 1920);
  padding: func.vw(24, 1920) func.vw(32, 1920);

  @media (max-width: 1440px) {
    padding: func.vw(24, 1440) func.vw(32, 1440);
    gap: func.vw(16, 1440);
  }
  
  @media (max-width: 960px) {
    padding: func.vw(24, 960) func.vw(32, 960);
    gap: func.vw(16, 960);
  }
  
  @media (max-width: 720px) {
    padding: func.vw(24, 720) func.vw(32, 720);
    gap: func.vw(16, 720);
  }
  
  @media (max-width: 540px) {
    gap: func.vw(16, 540);
    padding: func.vw(24, 540) func.vw(32, 540);
  }
  
  @media (max-width: 420px) {
    gap: func.vw(16, 420);
    padding: func.vw(24, 420) func.vw(32, 420);
  }
}

.header_modal{
  display: flex;
  align-items: center;
  justify-content: space-between;

  button{
    background-color: var(--green);
    color: var(--white);
    padding: func.vw(6, 1920);
    border-radius: func.vw(5, 1920);
    transition: 300ms;
    
    @media (hover: hover) {
      &:hover{
        background-color: var(--green-dark);
      }
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    @media (max-width: 1440px) {
      padding: func.vw(6, 1440);
      border-radius: func.vw(5, 1440);
    }
    
    @media (max-width: 960px) {
      padding: func.vw(6, 960);
      border-radius: func.vw(5, 960);
    }

    @media (max-width: 720px) {
      padding: func.vw(6, 720);
      border-radius: func.vw(5, 720);
    }

    @media (max-width: 540px) {
      padding: func.vw(6, 540);
      border-radius: func.vw(5, 540);
    }
    
    @media (max-width: 420px) {
      padding: func.vw(6, 420);
      border-radius: func.vw(5, 420);
    }
  }
}


.description_course{
  display: flex;
  flex-direction: column;
  gap: func.vw(14, 1920);
  border-radius: func.vw(5, 1920);
  padding: func.vw(16, 1920);
  background-color: var(--black);
  color: white;

  &__payment{
    display: flex;
    align-items: center;
    width: 100%;
    gap: func.vw(8, 1920);
    border-radius: func.vw(5, 1920);
    padding: func.vw(16, 1920);
    background-color: white;
    position: sticky;
    bottom: 0;

    &__btn{
      width: 30%;
    }
    &__btn_pay{
      width: 70%;
    }
  }

  &__optional{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name{
    display: flex;
    align-items: center;
    gap: func.vw(8, 1920);

    svg{
      color: var(--green);
    }
  }
  
  @media (max-width: 1440px) {
    gap: func.vw(14, 1440);
    border-radius: func.vw(5, 1440);
    padding: func.vw(16, 1440);

    &__name{
      gap: func.vw(8, 1440);
    }

    &__payment{
      gap: func.vw(8, 1440);
      border-radius: func.vw(5, 1440);
      padding: func.vw(16, 1440);
    }
  }

  @media (max-width: 960px) {
    gap: func.vw(14, 960);
    border-radius: func.vw(5, 960);
    padding: func.vw(16, 960);

    &__name{
      gap: func.vw(8, 960);
    }

    &__payment{
      gap: func.vw(8, 960);
      border-radius: func.vw(5, 960);
      padding: func.vw(16, 960);
    }
  }

  @media (max-width: 720px) {
    gap: func.vw(14, 720);
    border-radius: func.vw(5, 720);
    padding: func.vw(16, 720);

    &__name{
      gap: func.vw(8, 720);
    }

    &__payment{
      gap: func.vw(8, 720);
      border-radius: func.vw(5, 720);
      padding: func.vw(16, 720);
    }
  }

  @media (max-width: 540px) {
    gap: func.vw(14, 540);
    border-radius: func.vw(5, 540);
    padding: func.vw(16, 540);

    &__name{
      gap: func.vw(8, 540);
    }

    &__payment{
      gap: func.vw(8, 540);
      border-radius: func.vw(5, 540);
      padding: func.vw(16, 540);

      &__btn{
        width: 40%;
      }

      &__btn_pay{
        width: 60%;
      }
    }
  }

  @media (max-width: 420px) {
    gap: func.vw(14, 420);
    border-radius: func.vw(5, 420);
    padding: func.vw(16, 420);

    &__name{
      gap: func.vw(8, 420);
    }

    &__payment{
      gap: func.vw(8, 420);
      border-radius: func.vw(5, 420);
      padding: func.vw(16, 420);
    }
  }
}

.desc_modal {
  display: flex;
  flex-direction: column;
  gap: func.vw(12, 1920);

  &__card{
    display: flex;
    flex-direction: column;
    gap: func.vw(8, 1920);
    background-color: white;
    border-radius: func.vw(5, 1920);
    padding: func.vw(16, 1920);
  }
  
  @media (max-width: 1440px) {
    gap: func.vw(12, 1440);

    &__card{
      gap: func.vw(8, 1440);
      border-radius: func.vw(5, 1440);
      padding: func.vw(16, 1440);
    }
  }

  @media (max-width: 960px) {
    gap: func.vw(12, 960);

    &__card{
      gap: func.vw(8, 960);
      border-radius: func.vw(5, 960);
      padding: func.vw(16, 960);
    }
  }

  @media (max-width: 720px) {
    gap: func.vw(12, 720);

    &__card{
      gap: func.vw(8, 720);
      border-radius: func.vw(5, 720);
      padding: func.vw(16, 720);
    }
  }
  
  @media (max-width: 540px) {
    gap: func.vw(12, 540);

    &__card{
      gap: func.vw(8, 540);
      border-radius: func.vw(5, 540);
      padding: func.vw(16, 540);
    }
  }

  @media (max-width: 420px) {
    gap: func.vw(12, 420);

    &__card{
      gap: func.vw(8, 420);
      border-radius: func.vw(5, 420);
      padding: func.vw(16, 420);
    }
  }
}

.hr{
  width: 100%;
  height: 2px;
  background-color: var(--gray);
}