@use "@src/shared/scss/func/func";

.container {
	padding-bottom: func.vw(32, 1920);

	@media (max-width: 1440px) {
		padding-bottom: func.vw(20, 1440);
	}
	@media (max-width: 960px) {
		padding-bottom: func.vw(20, 1440);
	}
	@media (max-width: 720px) {
		padding-bottom: func.vw(20, 1440);
	}
	@media (max-width: 540px) {
		padding-bottom: func.vw(20, 540);
	}
	@media (max-width: 420px) {
		padding-bottom: func.vw(20, 420);
	}
}

.head {
	padding-block: func.vw(20, 1920);
	padding-inline: func.vw(32, 1920);

	@media (max-width: 1440px) {
		padding-inline: func.vw(32, 1440);
		padding-block: func.vw(20, 1440);
	}
	@media (max-width: 960px) {
		padding-inline: func.vw(32, 960);
		padding-block: func.vw(20, 1440);
	}
	@media (max-width: 720px) {
		padding-inline: func.vw(24, 720);
		padding-block: func.vw(20, 1440);
	}
	@media (max-width: 540px) {
		padding-inline: func.vw(16, 540);
		padding-block: func.vw(20, 540);
	}
	@media (max-width: 420px) {
		padding-inline: func.vw(16, 420);
		padding-block: func.vw(20, 420);
	}
}

.TeamCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: func.vw(6, 1920);

	@media (max-width: 1440px) {
		gap: func.vw(6, 1440);
	}
	@media (max-width: 960px) {
		gap: func.vw(6, 960);
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media (max-width: 720px) {
		gap: func.vw(6, 720);
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 540px) {
		gap: func.vw(6, 540);
	}
	@media (max-width: 420px) {
		gap: func.vw(6, 420);
	}
}