@use "@src/shared/scss/func/func";

.p_16{
    font-weight: normal;
    font-size: func.vw(16, 1920);

    &_bold{
        @extend .p_16;
        font-weight: bold;
    }
    
    @media (max-width: 1440px) {
        font-size: func.vw(16, 1440);
    }
    
    @media (max-width: 960px) {
        font-size: func.vw(16, 960);
    }
    
    @media (max-width: 720px) {
        font-size: func.vw(16, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(16, 540);
    }
    
    @media (max-width: 420px) {
        font-size: func.vw(16, 420);
    }
}
