@use "@src/shared/scss/func/func";

.p_12{
    font-weight: normal;
    font-size: func.vw(12, 1920);

    &_white {
        color: var(--white);
    }

    &_bold{
        @extend .p_12;
        font-weight: bold;
    }
    
    @media (max-width: 1440px) {
        font-size: func.vw(12, 1440);
    }
    
    @media (max-width: 960px) {
        font-size: func.vw(12, 960);
    }
    
    @media (max-width: 720px) {
        font-size: func.vw(12, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(12, 540);
    }
    
    @media (max-width: 420px) {
        font-size: func.vw(12, 420);
    }
}

.p_14{
    font-weight: normal;
    font-size: func.vw(14, 1920);

    &_bold{
        @extend .p_14;
        font-weight: bold;
    }
    
    @media (max-width: 1440px) {
        font-size: func.vw(14, 1440);
    }
    
    @media (max-width: 960px) {
        font-size: func.vw(14, 960);
    }
    
    @media (max-width: 720px) {
        font-size: func.vw(14, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(14, 540);
    }
    
    @media (max-width: 420px) {
        font-size: func.vw(14, 420);
    }
}

.p_16{
    font-weight: normal;
    font-size: func.vw(16, 1920);

    &_bold{
        @extend .p_16;
        font-weight: bold;
    }

    &_white {
        color: var(--white);
    }
    
    @media (max-width: 1440px) {
        font-size: func.vw(16, 1440);
    }
    
    @media (max-width: 960px) {
        font-size: func.vw(16, 960);
    }
    
    @media (max-width: 720px) {
        font-size: func.vw(16, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(16, 540);
    }
    
    @media (max-width: 420px) {
        font-size: func.vw(16, 420);
    }
}

.p_18{
    font-weight: normal;
    font-size: func.vw(18, 1920);

    &_bold{
        @extend .p_18;
        font-weight: bold;
    }
    
    @media (max-width: 1440px) {
        font-size: func.vw(18, 1440);
    }
    
    @media (max-width: 960px) {
        font-size: func.vw(18, 960);
    }
    
    @media (max-width: 720px) {
        font-size: func.vw(18, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(18, 540);
    }
    
    @media (max-width: 420px) {
        font-size: func.vw(18, 420);
    }
}

.h_64{
    font-weight: bold;
    font-size: func.vw(64, 1920);

    @media (max-width: 1440px) {
        font-size: func.vw(64, 1440);
    }

    @media (max-width: 960px) {
        font-size: func.vw(64, 960);
    }

    @media (max-width: 720px) {
        font-size: func.vw(64, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(42, 540);
    }

    @media (max-width: 420px) {
        font-size: func.vw(42, 420);
    }
}

.h_32{
    font-weight: bold;
    font-size: func.vw(32, 1920);

    @media (max-width: 1440px) {
        font-size: func.vw(32, 1440);
    }

    @media (max-width: 960px) {
        font-size: func.vw(32, 960);
    }

    @media (max-width: 720px) {
        font-size: func.vw(32, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(32, 540);
    }

    @media (max-width: 420px) {
        font-size: func.vw(32, 420);
    }
}

.h_40{
    font-weight: bold;
    font-size: func.vw(40, 1920);

    @media (max-width: 1440px) {
        font-size: func.vw(40, 1440);
    }

    @media (max-width: 960px) {
        font-size: func.vw(40, 960);
    }

    @media (max-width: 720px) {
        font-size: func.vw(40, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(40, 540);
    }

    @media (max-width: 420px) {
        font-size: func.vw(40, 420);
    }
}

.h_24{
    font-size: func.vw(24, 1920);

    &_bold{
        @extend .h_24;
        font-weight: bold;
    }

    @media (max-width: 1440px) {
        font-size: func.vw(24, 1440);
    }

    @media (max-width: 960px) {
        font-size: func.vw(24, 960);
    }

    @media (max-width: 720px) {
        font-size: func.vw(24, 720);
    }

    @media (max-width: 540px) {
        font-size: func.vw(24, 540);
    }

    @media (max-width: 420px) {
        font-size: func.vw(24, 420);
    }
}